
  .dashboard {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .app-new-spending, .app-summary {
    flex: 1;
    margin-right: 20px; /* Add some spacing */
  }
  
  .app-recent-spending {
    flex-basis: 100%; /* Take the full width */
    margin-top: 20px; /* Add some spacing */
  }
  