


.new-spending-box {
    border-radius: 12px;
    padding: 16px;
    width: 400px;  /* Fixed width */
    height: 280px;  /* Fixed height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  

  .title{
    margin-left: 5px;
    font-weight: 30;
    margin-bottom: 40px;
}
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .add-button-container {
    margin-top: 40px;
    text-align: right;
  }
  
  .add-button {
    margin-left: 5px;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .input-long, .input-short, select.input-long {
    padding: 10px; 
    flex-grow: 1;
    flex-basis: 0;  
    border: 1px solid lightgrey;
  }

  input.input-long:focus, input.input-short:focus, select.input-long:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
  
  
  .input-long {
    flex-grow: 3;
    margin-right: 10px;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 5px;
  }
  